In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pd.read_csv('FULL_F1_DF_SMAFEATURES.csv')

In [3]:
#for i in df.columns: print(i)

In [4]:
df2 = df.drop(columns=['Unnamed: 0','Unnamed: 0.1','unique_key','timestamp'])

In [5]:
df2

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_europe,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,driver_avg_placement,podium_SMA_nationality,podium_SMA_constructor
0,1983,1,False,False,True,False,False,boesel,17,20,...,0.0,0.0,0.0,0.0,1,0,0,15.000000,10.466667,15.233333
1,1983,1,False,False,True,False,False,sullivan,21,10,...,0.0,0.0,0.0,0.0,1,0,0,14.888889,13.566667,14.866667
2,1983,1,False,False,True,False,False,cecotto,19,12,...,0.0,0.0,0.0,0.0,1,0,0,13.500000,NaN,NaN
3,1983,1,False,False,True,False,False,mansell,22,11,...,0.0,0.0,0.0,0.0,1,0,0,8.428571,14.400000,16.033333
4,1983,1,False,False,True,False,False,alboreto,11,26,...,0.0,0.0,0.0,0.0,1,0,0,13.073171,16.566667,14.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15357,2023,2,True,False,True,False,False,zhou,11,13,...,0.0,0.0,0.0,0.0,1,0,0,14.450000,NaN,NaN
15358,2023,2,True,False,True,False,False,ocon,6,8,...,0.0,0.0,0.0,0.0,1,0,0,10.656863,NaN,NaN
15359,2023,2,True,False,True,False,False,max_verstappen,15,2,...,0.0,0.0,0.0,0.0,1,0,0,6.214765,NaN,NaN
15360,2023,2,True,False,True,False,False,bottas,14,18,...,0.0,0.0,0.0,0.0,1,0,0,7.603093,NaN,NaN
15361,2023,2,True,False,True,False,False,leclerc,12,7,...,0.0,0.0,0.0,0.0,1,0,0,8.404255,NaN,NaN

In [6]:
sma_const_nan_mn = df2.loc[df2['podium_SMA_constructor'].isna()]['podium'].mean()

In [7]:
sma_nat_nan_mn = df2.loc[df2['podium_SMA_nationality'].isna()]['podium'].mean()

In [8]:
df2['podium_SMA_constructor'].fillna(sma_const_nan_mn, inplace=True)
df2['podium_SMA_nationality'].fillna(sma_nat_nan_mn, inplace=True)

In [25]:
#df2.to_csv("HOLYv1.csv")

In [9]:
holy_template = df2.loc[(df2['season']==2023) & (df2['round']==2)]
holy_template

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_europe,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,driver_avg_placement,podium_SMA_nationality,podium_SMA_constructor
15343,2023,2,True,False,True,False,False,tsunoda,16,11,...,0.0,0.0,0.0,0.0,1,0,0,13.676471,14.572756,14.572756
15344,2023,2,True,False,True,False,False,stroll,5,20,...,0.0,0.0,0.0,0.0,1,0,0,12.403670,14.572756,14.572756
15345,2023,2,True,False,True,False,False,sainz,4,6,...,0.0,0.0,0.0,0.0,1,0,0,10.080537,14.572756,14.572756
15346,2023,2,True,False,True,False,False,russell,3,4,...,0.0,0.0,0.0,0.0,1,0,0,12.452055,14.572756,14.572756
15347,2023,2,True,False,True,False,False,alonso,2,3,...,0.0,0.0,0.0,0.0,1,0,0,8.385294,14.572756,14.572756
15348,2023,2,True,False,True,False,False,norris,19,17,...,0.0,0.0,0.0,0.0,1,0,0,8.920000,14.572756,14.572756
15349,2023,2,True,False,True,False,False,perez,1,1,...,0.0,0.0,0.0,0.0,1,0,0,9.413636,14.572756,14.572756
15350,2023,2,True,False,True,False,False,albon,17,19,...,0.0,0.0,0.0,0.0,1,0,0,10.735849,14.572756,14.572756
15351,2023,2,True,False,True,False,False,piastri,8,15,...,0.0,0.0,0.0,0.0,1,0,0,19.000000,14.572756,14.572756
15352,2023,2,True,False,True,False,False,hulkenberg,10,12,...,0.0,0.0,0.0,0.0,1,0,0,11.588571,14.572756,14.572756
15353,2023,2,True,False,True,False,False,hamilton,7,5,...,0.0,0.0,0.0,0.0,1,0,0,4.716216,14.572756,14.572756
15354,2023,2,True,False,True,False,False,kevin_magnussen,13,10,...,0.0,0.0,0.0,0.0,1,0,0,13.232558,14.572756,14.572756
15355,2023,2,True,False,True,False,False,de_vries,18,14,...,0.0,0.0,0.0,0.0,1,0,0,11.000000,14.572756,14.572756
15356,2023,2,True,False,True,False,False,gasly,9,9,...,0.0,0.0,0.0,0.0,1,0,0,10.610526,14.572756,14.572756
15357,2023,2,True,False,True,False,False,zhou,11,13,...,0.0,0.0,0.0,0.0,1,0,0,14.450000,14.572756,14.572756
15358,2023,2,True,False,True,False,False,ocon,6,8,...,0.0,0.0,0.0,0.0,1,0,0,10.656863,14.572756,14.572756
15359,2023,2,True,False,True,False,False,max_verstappen,15,2,...,0.0,0.0,0.0,0.0,1,0,0,6.214765,14.572756,14.572756
15360,2023,2,True,False,True,False,False,bottas,14,18,...,0.0,0.0,0.0,0.0,1,0,0,7.603093,14.572756,14.572756
15361,2023,2,True,False,True,False,False,leclerc,12,7,...,0.0,0.0,0.0,0.0,1,0,0,8.404255,14.572756,14.572756

In [10]:
holy_template['round'] = np.zeros(holy_template.shape[0])
holy_template['grid'] = np.zeros(holy_template.shape[0])
holy_template['podium'] = np.zeros(holy_template.shape[0])

for c in holy_template.columns:
    if 'weather' in c:
        holy_template[c] = [False] * holy_template.shape[0]
    elif 'circuit_id' in c:
        holy_template[c] = np.zeros(holy_template.shape[0])
    elif 'SMA' in c:
        holy_template[c] = np.zeros(holy_template.shape[0])
    elif 'avg_placement' in c:
        holy_template[c] = np.zeros(holy_template.shape[0])

<ipython-input-10-16d44e7c2f39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template['round'] = np.zeros(holy_template.shape[0])
<ipython-input-10-16d44e7c2f39>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template['grid'] = np.zeros(holy_template.shape[0])
<ipython-input-10-16d44e7c2f39>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template['podium'] = np.zeros(holy_template.shape[0])
<ipython-input-10-16d44e7c2f39>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template[c] = [False] * holy_template.shape[0]
<ipython-input-10-16d44e7c2f39>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template[c] = np.zeros(holy_template.shape[0])
<ipython-input-10-16d44e7c2f39>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template[c] = np.zeros(holy_template.shape[0])
<ipython-input-10-16d44e7c2f39>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holy_template[c] = np.zeros(holy_template.shape[0])

In [13]:
df2.loc[(df2['season']==2023) & (df2['round']==2)][['driver', 'podium_SMA_nationality','podium_SMA_constructor']]

                driver  podium_SMA_nationality  podium_SMA_constructor
15343          tsunoda               14.572756               14.572756
15344           stroll               14.572756               14.572756
15345            sainz               14.572756               14.572756
15346          russell               14.572756               14.572756
15347           alonso               14.572756               14.572756
15348           norris               14.572756               14.572756
15349            perez               14.572756               14.572756
15350            albon               14.572756               14.572756
15351          piastri               14.572756               14.572756
15352       hulkenberg               14.572756               14.572756
15353         hamilton               14.572756               14.572756
15354  kevin_magnussen               14.572756               14.572756
15355         de_vries               14.572756               14.572756
15356            gasly               14.572756               14.572756
15357             zhou               14.572756               14.572756
15358             ocon               14.572756               14.572756
15359   max_verstappen               14.572756               14.572756
15360           bottas               14.572756               14.572756
15361          leclerc               14.572756               14.572756

In [36]:
holy_template.to_csv('2023_PRED_TEMPLATE.csv')

In [40]:
#df[df['driver']=='Sargeant'] we don't have Sargeant :(