In [2]:
import pandas as pd
import numpy as np

In [3]:
%ls

FULL_F1_DF.csv           cleaning2.ipynb          more_cols_less_rows.csv
Fake Data.ipynb          cleaning3.ipynb          race1.csv
README.md                final_cleaned.csv        result.csv
cleaning.ipynb           final_df213.csv

In [4]:
df=pd.read_csv('final_df213.csv')

In [5]:
df.head()

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,constructor_tyrrell,constructor_williams,number_of_laps,circuit_length,number_of_drs,circuit_type,direction,circuit_id_miami,circuit_id_jeddah,circuit_id_qatar
0,1992,16,False,False,False,False,True,mansell,1,20,...,0,1,81.0,3.78,3.0,street,c,0.0,0.0,0.0
1,1995,17,False,False,False,False,False,michael_schumacher,3,15,...,0,0,81.0,3.78,3.0,street,c,0.0,0.0,0.0
2,1988,16,True,False,False,False,True,senna,1,2,...,0,0,81.0,3.78,3.0,street,c,0.0,0.0,0.0
3,1994,16,True,False,False,False,True,michael_schumacher,2,20,...,0,0,81.0,3.78,3.0,street,c,0.0,0.0,0.0
4,1993,16,True,False,False,False,False,prost,2,2,...,0,1,81.0,3.78,3.0,street,c,0.0,0.0,0.0

In [6]:
df["circuit_id_miami"]=np.zeros(df.shape[0])

In [7]:
df["circuit_id_jeddah"]=np.zeros(df.shape[0])
df["circuit_id_qatar"]=np.zeros(df.shape[0])

In [8]:
df.loc[(df["season"] == 2022) & (df['round']==2), "circuit_id_jeddah"] = 1
df.loc[(df["season"] == 2022) & (df['round']==2), "number_of_laps"] = 50
df.loc[(df["season"] == 2022) & (df['round']==2), "circuit_length"] = 6.174
df.loc[(df["season"] == 2022) & (df['round']==2), "number_of_drs"] = 3
df.loc[(df["season"] == 2022) & (df['round']==2), "circuit_type"] = 'street'
df.loc[(df["season"] == 2022) & (df['round']==2), "direction"] = 'a'

In [9]:
df.loc[(df["season"] == 2022) & (df['round']==5), "circuit_id_miami"] = 1
df.loc[(df["season"] == 2022) & (df['round']==5), "number_of_laps"] = 57
df.loc[(df["season"] == 2022) & (df['round']==5), "circuit_length"] = 5.412
df.loc[(df["season"] == 2022) & (df['round']==5), "number_of_drs"] = 3
df.loc[(df["season"] == 2022) & (df['round']==5), "circuit_type"] = 'street'
df.loc[(df["season"] == 2022) & (df['round']==5), "direction"] = 'a'

In [10]:
df.loc[(df["season"] == 2021) & (df['round']==21), "circuit_id_jeddah"] = 1
df.loc[(df["season"] == 2021) & (df['round']==21), "number_of_laps"] = 50
df.loc[(df["season"] == 2021) & (df['round']==21), "circuit_length"] = 6.174
df.loc[(df["season"] == 2021) & (df['round']==21), "number_of_drs"] = 3
df.loc[(df["season"] == 2021) & (df['round']==21), "circuit_type"] = 'street'
df.loc[(df["season"] == 2021) & (df['round']==21), "direction"] = 'a'

In [11]:
df.loc[(df["season"] == 2021) & (df['round']==20), "circuit_id_qatar"] = 1
df.loc[(df["season"] == 2022) & (df['round']==20), "number_of_laps"] = 57
df.loc[(df["season"] == 2022) & (df['round']==20), "circuit_length"] = 5.38
df.loc[(df["season"] == 2022) & (df['round']==20), "number_of_drs"] = 1
df.loc[(df["season"] == 2022) & (df['round']==20), "circuit_type"] = 'race'
df.loc[(df["season"] == 2022) & (df['round']==20), "direction"] = 'c'

In [12]:
df.to_csv("result.csv", index=False)

In [14]:
df['qualifying_time']

0        1:13.732
1        1:15.839
2        1:17.748
3        1:16.197
4        1:13.807
           ...
15317    1:30.423
15318    1:30.975
15319    1:31.020
15320    1:31.266
15321    1:31.325
Name: qualifying_time, Length: 15322, dtype: object